#header {
    background-color:rgb(183, 241, 239);
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#footer {
    background-color:rgb(183, 241, 239);
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 120px;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
#name {
    text-align: center;
    font: oblique normal 40px 'Century Gothic', sans-serif;
    color: rgb(6, 17, 82);
    width: 700px;
    height: 30px;
    padding: 50px 80px 0px 80px;
}
#function {
    text-align: center;
    font: oblique normal 25px 'Century Gothic', sans-serif;
    color: rgb(6, 17, 82);
    padding: 0px 80px 50px 80px;
}
.photo {
    float:left;
    margin: 7px 7px 7px 20px;
}
.sectionName {
    background-color: rgb(183, 241, 239);
    text-align: center;
    color: rgb(6, 17, 82);
    font: oblique normal 15px 'Century Gothic', sans-serif;
    padding: 10px;
}
.layer1 {
    float: right;
    width: 390px;
}
.layer2 {
    padding: 1px;
    width: 390px;
}
.layer3 {
    float: right;
    width: 390px;
}
.layer4 {
    padding: 1px;
    width: 390px;
}
.layer5 {
    float: right;
    width: 390px;
}
.layer6 {
    padding: 1px;
    width: 390px;
}
.layer7 {
    padding: 1px;
    width: 390px;
}

.table {
    margin: 0px 0px 100px 0px; 

}
#firsttd {
    background-color: rgba(183, 241, 239, 0.4);
}
.square {
    list-style-image: url(square.jpg);
    padding-left: 30px;
}
.items {
    margin-left: 0px;
    margin-bottom: 15px;
}
.link {
    margin: 0;
    padding: 18px;
}
.link_item_1 {
    display: inline; 
    margin-right: 5px; 
    margin-left: 5px;
    padding-top: 0px; 
}
.link_item_2 {
    display: inline; 
    margin-right: 5px; 
    margin-left: 5px;
    padding: 0px; 
}
.link_item_3 {
    display: inline; 
    margin-right: 5px; 
    margin-left: 5px;
    padding: 0px; 
}
.link_item_4 {
    display: inline; 
    margin-left: 250px; 
    padding: 10px; 
}#git {
    padding: 8px;
}
.address {
    margin: 0;
    padding: 0px;
}
.address_item {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 5px;
}